<?xml version="1.0" encoding="utf-8"?>
<widget id="io.davoice.wakeword.cordova.example" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova Wake Word Example</name>
    <description>On-device wake word detection example using cordova-wake-word.</description>
    <author email="info@davoice.io" href="https://davoice.io">DaVoice.io</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
